# Dependencies
node_modules/

# Environment
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Media files
backend/media/
frontend/public/

# IDE
.idea/
.vscode/
*.swp
*.swo
